.navbar
{
	font-family: 'Zilla Slab';
	font-size: 1.2em;
}
.navbar-brand
{
	font-family: Acme;
	color: white;
	font-size: 1.5em;
}
.nav-item
{
	width: 175px;
	margin:0 3%;
	padding: 0 2%;
	text-align: center;
}
.nav-item:hover
{
	border: 1px solid blue;
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
}

.active
{
	border: 1px solid blue;
	border-radius: 0.5em;
	box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.4);
}
.sign-out
{
	margin-left: 40%;
	border-radius: 0.75em;
}
#msg
{
	margin: 0 35%;
	font-family: Itim;
}
.p
{
	color:red;
}
.r
{
	color: blue;
}
.e
{
	color: green;
}
.s
{
	color: orange;
}
.a
{
	color: darkcyan;
}
.n
{
	color: tomato;
}
.y
{
	color: dodgerblue;
}
.k
{
	color:deeppink;
}
.t
{
	color: indigo;
}
.o
{
	color: teal;
}
.l
{
	color: slateblue;
}
.space
{
	color:white;
}