*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: cursive;
    background-color: #b8c6db;
    background: url("../quizimages/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.container
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.quiz
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.2);
    overflow: hidden;
    margin: 0;
}
.result
{
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.2);
    overflow: hidden;
    margin: 0;
    background-color: white;
}
.ques
{
    text-align: left;
}
.quiz-header
{
    padding: 2.5rem;
}
ul
{
    list-style: none;
}
li
{
    line-height: 2;
}
ul li label
{
    cursor: pointer;
    font-size: 27px;
}
input
{
    width:20px;
    height: 20px;
    margin-right: 5px;
}
button
{
    background-color: #c25568;
    display: block;
    width: 100%;
    border: none;
    padding: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    font-family: inherit;
}
button:hover
{
    background-color: #c5212f;
}
button:focus
{
    outline: none;
}
h2
{
    padding: 1rem;
}
p
{
    font-size:20px;
}