*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    font-family: cursive;
    background-color: #b8c6db;
    background: url("../quizimages/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.container
{
    margin-top: 50px;
    margin-bottom: 50px;
}
.quiz
{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.2);
    overflow: hidden;
    margin: 0;
}
.result
{
    display: none;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.2);
    overflow: hidden;
    margin: 0;
    background-color: white;
}
.ques
{
    text-align: left;
}
.quiz-header
{
    padding: 2.5rem;
}
ul
{
    list-style: none;
}
li
{
    line-height: 2;
}
ul li label
{
    cursor: pointer;
    font-size: 27px;
}
input
{
    width:20px;
    height: 20px;
    margin-right: 5px;
}
.submit
{
    width:100%;
    text-align: center;
}
button
{
    background-color: #ce3232;
    display: block;
    border: none;
    padding: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    font-family: inherit;
}
button:hover
{
    background-color: #a10d1a;
}
button:focus
{
    outline: none;
}
h2
{
    padding: 1rem;
}
p
{
    font-size:20px;
}

#chart
{
	display: none;
	font-size: 1.5rem;
	text-align: center;
	margin: 2% 25%;
	padding: 2% 4%; 
	border-radius: 20px;
	box-shadow: 3px 2px 4px 2px rgba(0,0,0,0.6);
	font-family: 'Zilla Slab';
	background-color: rgba(34, 213, 245,1);
}
.score
{
	width: 100px;
	height: 30px;
}
.btn-chart
{
	width: 180px;
	font-size: 1.05em;
	margin:2px 15px;
	box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.4);
}
.badge-success , .badge-danger
{
    margin-left: 20px;
    padding-top: 12px;
    height:40px;
    font-weight: 400;
}